.background-logo{
    background-position: 50% 51% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url('../image/background.jpg');
}
.project:hover{
    transform: scale(1.15);
}
.project{
    margin-top: 0px !important;
}
.button-portfolio-partner1{
    float: left;
    width: 100%;
    margin-top: 35px;
}
.button-portfolio-partner2{
    float: left;
    width: 100%;
    margin-top: 35px;
}
@media (min-width:512px) {
    .button-portfolio-partner1{
        float: left;
        width: 50%;
        margin-left: 2%;
        margin-top: 15px;
    }
    .button-portfolio-partner2{
        float: left;
        width: 50%;
        margin-left: -2%;
        margin-top: 15px;
    }
    .p-10{
        padding: 0.7rem;
    }
    .rounded-t-xl{
        height: 150px;
    }
}
@media (min-width:768px) {
    .button-portfolio-partner1{
        float: left;
        width: 50%;
        margin-left: 7%;
    }
    .button-portfolio-partner2{
        float: left;
        width: 50%;
        margin-left: -14%;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

html {
    box-sizing: border-box;
    height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.grid-1-5 {
    border: 2px solid #5d4e65;
    min-height: 400px;
    padding: 1.25em;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 700px) {
    .grid-1-5  {
        float: left;
        width: 50%;
    }
    .grid-1-5 :nth-child(odd) {
        clear: left;
    }
}

@media screen and (min-width: 800px) {
    .grid-1-5  {
    width: 33.3333333%;
    }
    .grid-1-5 :nth-child(3n + 1) {
    clear: left;
    }
    .grid-1-5 :nth-child(odd) {
     clear: none;
    }
}

@media screen and (min-width: 1120px) {
    .grid-1-5  {
    width: 20%;
    }
    .grid-1-5 :nth-child(odd),
    .grid-1-5 :nth-child(3n + 1) {
     clear: none;
    }
}

.grid-1-5:hover {
    background-color: rgb(83, 69, 91);
    border-top: 2px solid #ec7a37;
    border-bottom: 2px solid #ff4f69;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    transform: scale(1.025);
    z-index: 2;
}
.grid-1-5:before,
.grid-1-5:after {
     content: "";
     position: absolute;
     /*background-color: rgb(246, 125, 53);*/

     top: -2px;
     bottom: -2px;
     width: 2px;
 }

.grid-1-5:before {
     left: -2px;
 }
.grid-1-5:after {
     right: -2px;
 }

.grid-1-5 .button {
      background-color: rgb(238, 122, 54);

  }

h2,
h3,
p,
ul {
    margin: 0;
}
h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 0.5em;
}
h3 {
    font-size: 1.5em;
    letter-spacing: 0.0625em;
    margin: 0 0 0.3333333333333333em;
}
p {
    font-size: 0.875em;
}
p,
ul {
    margin: 0 0 1.5em;
}
ul {
    color: #796583;
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;
}
 ul > li {
    margin: 0 0 0.8333333333333333em;
}

.button {
    background-color: #9c83aa;
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 0.75em 1.5em;
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    margin-left: -60px;
    text-decoration: none;
    width: 120px;
}
.uppercase,
.button,
h2 {
    text-transform: uppercase;
}
sup,
.small {
    font-size: 0.6125em;
}
